<h1><%= @user_story.category.items.name %></h1></br>

<h4>Items</h2>

<ul>
  <% @user_story.category.items.each do |item| %>
    <p>
    <%= link_to item.name %>
    <%= link_to 'Update', edit_item_path %>
    <%= link_to 'Delete', item_path, method: :delete %>
    </p>
  <% end %></br></br>
</ul>
